[2021-10-22 06:48] onedayherocoming opened #6 "Does this project support k3s?"

[2021-11-24 12:11] SataQiu opened #11 "Provide submariner addon for OCM"
Is anyone working on [submariner](https://submariner.io/) addon for OCM?

I'm interested in `submariner` right now, maybe I can help contribute.

[2021-11-24 15:38] mikeshng commented on #11
Hi, there is a submariner addon available for ACM (a product that uses OCM as base). See: https://github.com/open-cluster-management/submariner-addon

They have not transition the repo to OCM upstream org yet. But maybe you can try using that addon and see if it works with OCM. Based on my quick look at the `go.mod`, I think it will most likely work.

FYI @nyechiel

[2021-12-01 14:03] qiujian16 commented on #11
maybe we should transition the repo to the upstream org, or at least provide a helm chart to deploy submariner addon

[2021-12-06 11:16] cvvz opened #12 "Can I create work by using native K8s API?"
I want to create work like `deployment` by using K8s API but not a `WorkManifest` with template in it, just like what kubefedV2, karmada or clusternet does. Is it possible?

[2021-12-06 13:46] qiujian16 commented on #12
I do not think kubefedv2, karmada and clusternet has a similar API to deploy workload? Do you ask an API that in higher level primitive which you can define "I want to create deployment in a set of clusters". Or do you want a way that you can directly call deployment API in a spoke cluster?

[2021-12-06 14:24] cvvz commented on #12
Use karmada as an example,  if I want to create deployment across multiple clusters. I can use the **native** deployment API of k8s in hub cluster,  the components of karmada will do reconciling, and generate [ResourceBindingSpec](https://github.com/karmada-io/karmada/blob/master/pkg/apis/work/v1alpha2/binding_types.go#L29-L43) as a result, which is similar to the concept of [work](https://github.

[2021-12-07 03:20] qiujian16 commented on #12
oh, we do not do it in ocm core component. But it is possible to develop an extension to do that. There is a proposal by @yue9944882  https://github.com/open-cluster-management-io/enhancements/pull/31 that may be able to support this case.

We try to avoid normalizing the interface of the end user in ocm core part, since we see a bunch of different ways users can deliver workload (native way, gito

[2021-12-07 04:24] cvvz commented on #12
Got it! Does it mean that I can create an add-on through [addon-framework](https://github.com/open-cluster-management-io/addon-framework) or even a third-party system writen by myself (as long as it can transform a native resource to manifestwork) to support my case?

[2021-12-07 08:17] qiujian16 commented on #12
That is for sure!

[2021-12-08 06:47] yue9944882 commented on #12
weeks ago i had a poc [implementation](https://github.com/yue9944882/elastic-workload) of the enhancement above, now it's holding on the status-reporting feature by the work api from https://github.com/open-cluster-management-io/api/pull/108 b/c the advance workload distribution needs to actively reading the existence/status from the distributed resources. the new api proposed in the enhancement a

[2021-12-10 17:49] arewm opened #13 "NOTICE: Renaming planned for similar GitHub organization"
This issue serves as a notice that the similarly named [open-cluster-management](https://github.com/open-cluster-management) is planning to move to a new GitHub organization in order to remove naming confusion with `open-cluster-management-io`. The owners of `open-cluster-management` have agreed to move and have started preparations. We expect the move to be completed by mid 2022 and will keep thi

[2021-12-15 15:17] zhiweiyin318 opened #17 "[task]Add cluster-proxy addon deploy scenario"
add cluster-proxy addon deploy scenario.
refer https://github.com/open-cluster-management-io/cluster-proxy

[2021-12-15 15:20] zhiweiyin318 opened #18 "[task] Add managed-serviceaccount addon deploy scenario"
add managed-serviceaccount addon deploy scenario.
refer https://github.com/open-cluster-management-io/managed-serviceaccount

[2021-12-15 15:26] zhiweiyin318 commented on #17
/assign @ycyaoxdu

[2021-12-15 15:37] zhiweiyin318 commented on #18
@JiahaoWei-RH

[2021-12-16 01:46] ycyaoxdu commented on #17
ok.

[2021-12-16 01:47] ycyaoxdu commented on #17
/assign @ycyaoxdu

[2021-12-23 10:58] xuezhaojun opened #21 "[task] The process tracker of translating document to Chinese"
The document in Chinese is not done yet and this issue is used to track the process.

## How to contribute:

If you're interested in translation work, please make a [work-in-process] PR and note this issue in that PR.

This will help others know which part of the document translation is ongoing.

[2022-01-04 14:12] arewm commented on #13
We have renamed out GitHub organization and are now https://github.com/stolostron.

[2022-01-06 20:10] #13 closed

[2022-01-18 21:11] TheRealHaoLiu opened #22 "adding a time to live (TTL) option for managed-serviceaccount"
I been experimenting with the [managed-serviceaccount ](https://github.com/open-cluster-management-io/managed-serviceaccount) project from OCM and found it to be incredibly useful

for my usecase I leverage the managed-serviceaccount controller to create on-demand serviceaccount than use ManifestWork to create role/rolebinding on managedcluster to grant my serviceaccount RBAC permission.

the mana

[2022-01-20 16:15] TheRealHaoLiu commented on #22
@qiujian16 @yue9944882 any thoughts about adding this?

[2022-01-21 03:43] qiujian16 commented on #22
I think it make sense the token in managed-sa to expire (to not rotate any more). I am less sure about auto-deleting the resource. Maybe you could have an ownerref from manifestwork to managed-sa or vice versa since it seems the lifecycle of the two resource in this case are the same.

[2022-01-21 09:13] qiujian16 opened #24 "We should have an example app that shows features in ocm"
1. deploy an application.
2. use placement to change targeted cluster.
3. use cluster-proxy to check the application.

[2022-01-21 10:01] ArenaSu opened #25 "Add deleteOptions to Managedcluster"
I suggest to add DeleteOption in Managedcluster for implementing following functions:

1. Set ClearPolicy in DeleteOption, then manifestworks and addons, etc  of the managedcluster will be deleted by force when exec kubectl delete managedcluster.
2. Set RetentionPolicy in DeleteOption, then manifestworks and addons, etc  of the managedcluster will be retained when exec kubectl delete managedcluste

[2022-01-21 15:25] ArenaSu opened #26 "Hub cluster HA solution proposal"
The scenario encountered in production environment is that:

1. Hub cluster hc1 managed some managed clusters and many manifest works also many addons are deployed.
2. Hub cluster hc2 was installed as a backup.
2. Hub cluster encountered a critical error that could not recover for a short time.
3. We must join the managed clusters to Hub cluster hc2 and recovered OCM resources in Hub cluster hc2

[2022-01-21 16:10] ArenaSu opened #27 "Placement and ManagedClusterSets solution may be not good"
I suggest selector or clusterSelector as a part of resources to match multi-cluster for applications rather than standalone placement object.The implementation of Placement and ManagedClusterSets may be not flexible.

Here are some reasons.

1. Clusters are resources dynamic selected and matched depending on demand of specific applications. We can't define one placement in advance. For example, we

[2022-01-24 09:52] qiujian16 commented on #26
In this case we do not need to unjoin and join again. If we change the bootstrapKubconfig secret, then klusterlet will connect to the second hub. However, we do not have a clustercmd command to do that yet. Maybe something like

[code]

And it just update the bootstrap kubeconfig secret.

/kind feature

[2022-01-24 09:59] qiujian16 commented on #25
Thanks, I think the first scenario makes sense.
Not quite sure about the second scenario. We remove rbac for registration agent today after cluster is deleted. Which means the addon will all become unknown status even though they are not deleted.

I think when managedcluster is deleting, we should delete all addons in the same ns at least, thought? @skeeey

[2022-01-25 03:12] ArenaSu commented on #26
Ok, it can achieve the same goal. And what i am concerned about is recovery of resources such as manifest work.

[2022-01-25 03:19] ArenaSu commented on #25
Addons should be deleted no matter whatever the DeleteOption is configured according to your analysis.

[2022-01-25 03:45] skeeey commented on #25
for the second case, if we keep the addons, it may be useful to restore the addons?

@ArenaSu currently when we delete a managed cluster, we did not delete its  manifestworks/addons, this because in some cases, e.g. the manifestworks/addons may have deployment order or dependent, so we let manifestworks/addons creator do the delete action, and as you suggestion, if we have a clear policy, it will

[2022-01-25 15:13] qiujian16 commented on #26
Right, I think we could create a solution scenario in this repo by using Velero as an example. WDYT?

[2022-01-25 16:28] TheRealHaoLiu commented on #22
can u elaborate your concern about having the managed-sa being auto-deleted?

[2022-01-26 06:37] ArenaSu commented on #27
OK, i know your goals about Placement API. Maybe with a scheduler component OCM can go further and this makes it easy to use.

[2022-01-26 06:45] ArenaSu commented on #25
It's right.And it may be difficult to restore addons such as cluster-gateway with proxy using k-connectivity. There are high requirements for addons.

[2022-01-26 06:49] ArenaSu commented on #25
We can define specifications such as fields or policy types to perform addons recovering.

[2022-01-26 07:25] yue9944882 commented on #22
@TheRealHaoLiu are you worrying about the potential leakage of the projected service-account tokens from those unfinished jobs? how about we set a more reasonable validity for the projected token and explicitly disable the rotation:

https://github.com/open-cluster-management-io/managed-serviceaccount/blob/a5e95f8951063bb9b045519555aca22d82ce7bdb/api/v1alpha1/managedserviceaccount_types.go#L76-L80

[2022-01-26 08:53] qiujian16 commented on #25
@skeeey @ArenaSu I think the addon will not work anyway when we delete managedcluster since the registration has no permission to rotate certificate for itself or addons after cluster is deleted. We could add finalizer to the rolebinding for registration such that when cluster is deleted, the registration can still work until all addons are cleaned. But the deletion process is not reversible.

I w

[2022-02-17 09:28] mjiao opened #29 "failed to sync "cluster-manager", err: unsupport install mode:"
By following this instruction: https://open-cluster-management.io/getting-started/quick-start/#setup-a-local-kind-environment, two Kind clusters were started. In the Hub cluster, the following error can be observed in the cluter-manager pod:

[code]

And on the Hub cluster this happened while accepting cluster joining requests:
[code]
Env is on rhel 8.5 + kind + podman

Could you pls provide some

[2022-02-17 15:51] qiujian16 commented on #29
yeah, that seems like a bug introduced in a recently merged PR.

/kind bug
/assign @xuezhaojun

[2022-02-21 08:07] qiujian16 commented on #29
fixed in this one https://github.com/open-cluster-management-io/registration-operator/pull/204

[2022-02-21 16:04] mjiao commented on #29
Thanks for the fix. Validated with the latest container image. Works correctly now.

[2022-02-21 16:04] #29 closed

[2022-03-03 09:36] xuezhaojun opened #31 "Klog flags disppeared because of component-base updates."
## Issue:
We are using the following pattern to setup logs in many repo currently:

[code]

But it seems `klog` part has been missed in the latest version:
[code]

The above process, it should have some `klog` flag such as `--v`.

## Reason

The reason for this issue may be in the latest version `component-base`, it using a customized FlagsSet:

https://github.com/kubernetes/component-base/blob/30

[2022-03-03 11:05] xuezhaojun commented on #31
Update another solution:

[code]

[2022-03-03 11:18] xuezhaojun commented on #31
Another PR related to this issue：https://github.com/open-cluster-management-io/cluster-proxy/pull/73

[2022-03-03 11:20] xuezhaojun commented on #31
The code also works and with less klog flags:
[code]

[2022-03-03 11:22] zhiweiyin318 commented on #31
this related changes in k8s.io/component-base/logs
https://github.com/kubernetes/kubernetes/pull/105076
https://github.com/kubernetes/kubernetes/commit/21d1bcd6b8498370832fa76f680d3de56837bc83
the suggested example:
https://github.com/kubernetes/kubernetes/blob/428ec843a5f689f9e30d22968ee1eb6d106f6ffb/staging/src/k8s.io/component-base/logs/example/cmd/logger.go#L39
`logs.NewOptions().AddFlags(pfla

[2022-03-11 03:40] qiujian16 commented on #22
i think it is done already, can we close this @TheRealHaoLiu ?

[2022-03-11 03:41] qiujian16 opened #32 "A brief walk-through of how to write an addon based on addon-framework."
we should have a handbook to tell user how to develop an addon using addon-framework.

/assign @yue9944882
/assign @zhiweiyin318

[2022-03-11 03:43] qiujian16 opened #33 "Create a solution scenario on how is the placement used in OCM"
We should have solution scenarios to describe:
- How user can extend placement scheduling.
- How user can use placement to schedule their workload.
- How to use placement and other opensource tools to do workload or storage disaster recovery.
- How to do cluster maintainence and its implication on placement

[2022-03-11 03:48] qiujian16 opened #34 "How do I run a multicluster service mesh with ocm"
we should describe a solution scenario on enabling istio with ocm to do multicluster service mesh

/assign @morvencao

[2022-03-11 03:50] qiujian16 opened #35 "How do I run argoCD with OCM"
we should have a solution scenario to describe how user can run argocd on OCM and to multiple cluster gitops.

/assign @elgnay

[2022-03-16 01:14] #31 closed

[2022-03-16 09:10] mrningyang opened #36 "现在有没有企业已经在使用OCM，有生产环境的实践吗？"
现在有没有企业已经在使用OCM，有生产环境的实践吗？谢谢

[2022-03-16 13:03] mikeshng commented on #36
@qiujian16 @yue9944882 I think he is asking about production usage of OCM. My Chinese is not that good. Could you please answer him? Thanks.

[2022-03-16 14:55] zhiweiyin318 commented on #31
@qiujian16  I think registration-operator/ registration/work/placement repo need to fix this issue too

[2022-03-17 08:18] qiujian16 commented on #36
@mrningyang  有一些企业在使用OCM哈 红帽主要是基于OCM构建了一个多集群管理的工具，在许多企业（主要是通讯，金融）生产环境都有部署。主要的场景是通过OCM管理多个openshift集群，进行集群的升级，扩缩容等。通过OCM部署工作负载和环境配置等。

@yue9944882 应该有一些其他方面的信息^^

[2022-03-17 09:43] yue9944882 commented on #36
@mrningyang OCM是阿里云公有云专有云产品都采用且提供商品服务的多集群管理引擎，同时在输出给一些SaaS公司使用。

另外麻烦尽可能在社区中使用英语，这样其他社区的用户可以通过信息检索参考到这里的信息，多谢贡献。

[2022-03-18 05:01] haoqing0110 opened #37 "improve the user scenarios in website"
We now have some user scenarios under https://open-cluster-management.io/scenarios/ , which may not be enough.

And we have below feedback from users, which can help improve the user scenarios
- I want to know how OCM is used in the real world.
- Can OCM dispatch jobs for multi-cluster env? not clear about what can it do and how.
- I need some detailed usage of the core functions (such as a blog f

[2022-03-18 05:02] haoqing0110 opened #38 "improve the OCM development guide"
OCM now has some development guide, like the Architecture and Concepts in website https://open-cluster-management.io/concepts/architecture/
Also some development guides in each repo.

The feedback we receive from users who want to contribute is that:
- I want to know the features/functions of the components, and their relationship.
- After reading the website doc, I feel hard to understand the rel

[2022-03-18 05:12] haoqing0110 opened #39 "OCM working groups"
It's a common practice to organize the community into working groups.

For OCM it's the same, organized into a set of working groups could improve the experience when users want to join and contribute, as well as the community development.

Create this issue to further discuss this topic.
More ideas and suggestions are welcomed to comment on this issue.

[2022-03-25 15:00] dhaiducek opened #40 "Update `clusteradm install hub-addon` to wrap Helm chart repo"
Currently `clusteradm install hub-addon` uses YAML manifests hosted in the `clusteradm` repo to deploy hub addon components. This is undesirable for maintainability. With the new https://github.com/open-cluster-management-io/helm-charts repo, the hub-addon command should be updated to deploy helm charts from this repo directly.

Related issue:
- https://github.com/open-cluster-management-io/commun

[2022-03-28 09:33] mrningyang opened #41 "How to apply a workload to many clusters? Do I have to create multiple ManifestWorks?"
If i want to apply a deployment to cluster a and b, do I have to create two ManifestWorks to apply the deployment to cluster a and cluster b? If i want to update the workload, do I have to update all the ManifestWorks about the workload?

[2022-03-28 16:13] mikeshng commented on #41
Yes, if you just use ManifestWork.
ManifestWork is meant to be a primitive work delivery API. Orchestration capability is not built into it.
You can check out our enhancement proposal for a higher level of orchestration PlacementWork in:
https://docs.google.com/document/d/17YZ3gvaakVWcavktGaVBNq5QUkMWlxge4zVe-rV43FM/edit#
https://www.youtube.com/watch?v=X181PoP3lpc

Alternatively, you can use our

[2022-03-29 08:36] mrningyang commented on #41
I do not think app addon or policy addon can help me. In fact, i think the designs of manifestWork and placement is vague. It seems manifestWork has decided the workload should be applied to which cluster. So, it means if we want to  build  orchestration capability based on OCM, should we generate manifestWork after the workload has been scheduled by placement? It seems OCM doesn't tell us how to

[2022-03-29 08:37] mrningyang commented on #41
I do not think app addon or policy addon can help me. In fact, i think the designs of manifestWork and placement is vague. It seems manifestWork has decided the workload should be applied to which cluster. So, it means if we want to build orchestration capability based on OCM, should we generate manifestWork after the workload has been scheduled by placement? It seems OCM doesn't tell us how to us

[2022-03-29 08:54] mrningyang commented on #36
我想问下，因为OCM只是提供了一些核心的组件，但是并没有提供更高层次的方案和架构，比如如何将k8s 资源利用placement和manifestwork来进行动态多集群编排，阿里云使用的是kubeVela吗，看起来要将OCM投入到生成环境还需要很多工作要做。

[2022-03-29 09:22] qiujian16 commented on #41
yes, we are still investigating a higher primitive that integrates manifestwork/placement. Some work is here https://docs.google.com/document/d/17YZ3gvaakVWcavktGaVBNq5QUkMWlxge4zVe-rV43FM/edit#heading=h.ijzixgc4v32h
We did not have a  default orchestration API since we found that this layer could have many different requirements from users which is not easy to generalize. We want to be more caref

[2022-03-29 09:24] qiujian16 commented on #41
We were discussing also whether it makes more sense we should provide a go sdk to consume manifestwork/placement instead of a higher primitive. This could be helpful if a developer would like to build their own orchestration upon ocm.

[2022-03-30 08:09] mrningyang commented on #41
Ok, thank you, I see

[2022-04-07 08:12] qiujian16 opened #43 "run ocm control plane as a standalone binary"
It will be interesting to run ocm control plane in stand alone mode. It will involve integrating apiserver/controller/etcd in one single binary. We should also disable unused APIs on apiserver (e.g. nodes, pods etc.). We can start with a prototype and check how kcp does this.

cc @yue9944882 @ycyaoxdu
/kind feature

[2022-04-07 11:56] yue9944882 commented on #43
@qiujian16 thanks, another obstacle in standalone mode is how to scale out etcd. i think we could probably start by leveraging an etcd-operator to make it dynamically scalable?

[2022-04-21 03:26] haoqing0110 commented on #37
/assign @elgnay @zhiweiyin318 @morvencao @haoqing0110

[2022-04-21 03:28] haoqing0110 commented on #33
/assign @haoqing0110

[2022-04-21 05:43] haoqing0110 commented on #37
/assign @xuezhaojun

[2022-04-21 05:48] xuezhaojun opened #44 "Add `Access managed cluster` solution."
This task aims to integrate https://github.com/open-cluster-management-io/OCM/issues/18 with https://github.com/open-cluster-management-io/OCM/issues/17 to provide a more pragmatic solution for addon usage.

[2022-04-21 05:48] xuezhaojun commented on #44
/assign @xuezhaojun

[2022-04-21 05:49] xuezhaojun commented on #37
Please add subtask: https://github.com/open-cluster-management-io/OCM/issues/44

[2022-04-21 05:51] xuezhaojun commented on #37
@qiujian16  Should this https://github.com/open-cluster-management-io/OCM/issues/44 document in the repo https://github.com/open-cluster-management-io/OCM 's solutions part or in the repo https://github.com/open-cluster-management-io/open-cluster-management-io.github.io? or both?

[2022-04-21 06:09] xuezhaojun commented on #37
It seems like this task is more suitable for OCM repo.

[2022-04-21 08:57] xuezhaojun commented on #44
/work-in-process

[2022-04-22 08:37] xuezhaojun opened #45 "Fix: `bitnami` repos turn to unavailable."
Here are all places we replying on `bitnami` repos:
https://github.com/search?q=org%3Aopen-cluster-management-io+bitnami&type=code

We should remove all dependencies later.

[2022-04-22 08:37] xuezhaojun commented on #45
cc @qiujian16 @zhiweiyin318

[2022-04-22 13:15] mikeshng commented on #45
I will fix the ones that are related to app repo(s).

[2022-04-25 13:41] nasirudheen commented on #35
Hi !
Any update on this ? searching for help on this returns many blogs and docs but unfortunately all of those are openshif/ACM specific.
Any pointers ?
Thanks,
Nasir

[2022-04-26 01:50] xuezhaojun commented on #45
All images are replaced.
/close

[2022-04-26 01:50] #45 closed

[2022-04-26 06:15] qiujian16 commented on #25
/assign @zhiweiyin318

[2022-04-26 09:54] elgnay commented on #35
Hi @nasirudheen, we're still working on it. Just like ACM does, OCM can integrate with ArgoCD by leveraging ArgoCD ApplicationSet with [Cluster Decision Resource Generator](https://argocd-applicationset.readthedocs.io/en/stable/Generators-Cluster-Decision-Resource/). The basic ideal is
- User imports clusters into OCM hub as managedclusters;
- User registers those clusters to ArgoCD (ACM can do it

[2022-04-29 13:21] mikeshng opened #46 "Provide Helm charts for OCM components"
Thanks to Min Kim's excellent work, there is now a centralize OCM repo containing OCM related Helm charts: https://github.com/open-cluster-management-io/helm-charts

So far there are only some addon Helm charts. We should have Helm charts for core components (cluster manager, klusterlet) as well as some other addon charts (app, grc).

This enhancement is related to https://github.com/open-cluster-

[2022-05-04 15:57] grzesuav opened #47 "Feature Request: Cluster API integration - automatic installation of klusterlet on managed clusters"
# Proposal
Currently you can use `ClusterAPI` to spin up new kubernetes clusters. It has different provider implementations, however. most of them (I didn't checked all) provides CA secrets to access managed cluster. Having this, and having OCM in admin/hub cluster, it would be useful to automatically install `klusterjet` agent of any new cluster and join them to the hub.

[2022-05-06 03:37] qiujian16 commented on #47
/kind feature

Thanks, I think it is a great idea. Do you expect that this will be implemented in clusteradm?

[2022-05-09 11:18] grzesuav commented on #47
Actually no, it must be implemented in some watcher/controller in the hub cluster to dynamically watch which clusters are being created by ClusterAPI and take appropriate action

[2022-05-10 10:15] grzesuav commented on #46
hi @mikeshng do you have any idea (or know where to look) for set of manifest/objects required both for hub and klusterjet ?
I mean core components (namespace deployment etc) and RBAC.

[2022-05-10 10:22] grzesuav commented on #47
Looking at https://github.com/open-cluster-management-io/registration-operator I think it should be a companion operator for them, like setting up `klusterjet` parton remote cluster and provide bootstrapping  token

[2022-05-10 10:24] grzesuav commented on #46
Actually just looked at https://github.com/open-cluster-management-io/registration-operator and it seems it can be a starting point

[2022-05-10 15:07] qiujian16 commented on #47
Yes, I think it is possible.

[2022-05-20 17:33] yandooo commented on #47
what would be steps/code to register managed cluster assuming we have user kubeconfig from Cluster API?

[2022-05-20 19:00] berenss commented on #47
I think you want to look at registration controller: https://open-cluster-management.io/getting-started/core/register-cluster/#prerequisite

[2022-05-21 20:09] mikeshng commented on #47
You can use the link Scott provided above. In summary:

If you are using our `clusteradm` tool and you have ran the `clusteradm init` command on the "hub" cluster and have the token output for managed cluster registration. You can then use `clusteradm join --kubeconfig /path/to/managed_cluster_kubeconfig --hub-token <token_here> --hub-apiserver <https://apiserver_here> --cluster-name <cluster_name

[2022-05-22 08:38] yandooo commented on #47
`clusteradm` looks easier initial approach. Thanks

[2022-05-23 02:06] qiujian16 commented on #44
this is done

/close

[2022-05-23 02:06] #44 closed

[2022-05-23 02:06] qiujian16 commented on #18
this is done in #44

/close

[2022-05-23 02:06] #18 closed

[2022-05-23 02:07] qiujian16 commented on #17
this is done in #44

/close

[2022-05-23 02:07] #17 closed

[2022-05-23 02:08] qiujian16 commented on #22
/close

[2022-05-23 02:08] #22 closed

[2022-05-24 19:56] leipanhz opened #50 "Need more documentation for OCM troubleshooting"
I am learning OCM recently, the feature is nice. We are interested in using OCM in our project to support multi-cluster communication. During my experiments and troubleshooting, I found it is difficult to understand the underlying meaning of error messages, and look for fixes of the issues. Luckily the contributors and developers of OCM are very knowledgeable and helpful, on the other hand, if the

[2022-05-26 14:28] mikeshng commented on #50
This is a really good idea. I think one of the first one we should add is: for `KinD` cluster setup, the `clusteradm join` command needs to be run with `--force-internal-endpoint-lookup` param.

Please feel free to add more recommendations for troubleshooting in this issue and we will append to the doc.

/assign mikeshng

[2022-06-08 17:17] mikeshng opened #53 "Not able to disable/delete a ManagedClusterAddon"
When a user install the cluster-proxy, managed-serviceaccount and cluster-gateway addons. The managed cluster addon resources are automatically created on the registered clusters. If the addons are deployed to cluster foo and bar. Is it possible to disable or delete the addons for cluster bar? Currently, when deleting those managed cluster addon on cluster bar namespace, they will come back.

[cod

[2022-06-08 23:44] qiujian16 commented on #53
this is controlled by each addon controller separately. If it uses installAll strategy, the addon controller of the certain addon will alway enable it.

[2022-06-09 03:20] qiujian16 commented on #53
ah, another clean up issue...FYI @zhiweiyin318. We have a fix in addon-framework that if a cluster is deleting, addon should not be created again.

[2022-06-14 06:06] xuezhaojun opened #54 "Return an error if components are not enable when using `clusteradm proxy xxx`"
`clusteradm proxy` subcommand is depending on two addon: `cluster-proxy-addon` and `managed-serviceaccount`.
It should return an error when those two components are not installed.

[2022-06-14 06:07] xuezhaojun commented on #54
/assign @xuezhaojun

[2022-06-20 14:34] maoyangLiu opened #55 "How should I use placement and ManagedClusterSet"
, according to the example, I have created ManagedClusterSet, also created placement, and PlacementDecision also got the corresponding result, but I don't know how to use placement and PlacementDecision, I created manifestwork under the namespace corresponding to ManagedClusterSet , there is no response on the corresponding cluster. The same is true for creating a workload 。Can someone tell me, ho

[2022-06-20 14:51] mikeshng commented on #55
The Placement API is a primitive type that is meant to be consumed by a higher level orchestrator. For example, once you find out which clusters matches your predicate, then you can create (manually or programmatically) ManifestWork objects based on the results (by using the cluster name in the namespace).

You should create the ManifestWork on the hub cluster that has the namespace that matches y

[2022-06-20 14:54] mikeshng commented on #55
There has also been discussion about building a higher level API on top of Placement and ManifestWork.
Please see the proposal here: https://docs.google.com/document/d/17YZ3gvaakVWcavktGaVBNq5QUkMWlxge4zVe-rV43FM/edit#  feel free to provide any feedback or implementation POC.

[2022-06-20 15:21] maoyangLiu commented on #55
I understand now, that is the result of PlacementDecision, I need to use manual. I'm looking forward to PlacementWork. thank you very much

[2022-06-20 15:32] mikeshng commented on #55
You are welcome. There are also consumers of the API such as the policy addon and application addon. Both already have the PlacementWork capability.

[2022-06-21 00:05] #55 closed

[2022-06-22 06:26] xuezhaojun opened #56 "Add Test Coverage to improve code quality."
It's better to have test coverage to improve our code quality.

There are several things we could do:
1. Add GitHub action check for new PR to meet the coverage requirement.
2. Set a goal (for example 70%) for further code-refactor tasks.
3. etc.

[2022-06-22 06:26] xuezhaojun commented on #56
/cc @qiujian16

[2022-06-22 06:58] qiujian16 commented on #56
is this a task?

[2022-06-22 07:07] xuezhaojun commented on #56
Not sure about the scope yet, mainly used to record discussion in the coming community meeting about the topic.

[2022-07-07 04:07] haoqing0110 commented on #33
How user can use placement to schedule their workload.
https://github.com/open-cluster-management-io/clusteradm/pull/247
https://github.com/open-cluster-management-io/open-cluster-management-io.github.io/pull/273

[2022-07-07 08:41] morvencao commented on #34
Closing this as the multucluster mesh solution now is available at: https://github.com/open-cluster-management-io/OCM/tree/main/solutions/run-multicluster-servicemesh

[2022-07-07 08:41] morvencao commented on #34
/close

[2022-07-07 08:41] #34 closed

[2022-07-07 08:52] haoqing0110 opened #58 "How user can use placement to schedule their workload."
Subtask of https://github.com/open-cluster-management-io/OCM/issues/33

[2022-07-07 08:53] haoqing0110 commented on #58
How user can use placement to schedule their workload PRs:
- https://github.com/open-cluster-management-io/clusteradm/pull/247
- https://github.com/open-cluster-management-io/open-cluster-management-io.github.io/pull/273

The solution scenario is published in https://open-cluster-management.io/scenarios/distribute-workload-with-placement/

[2022-07-07 08:53] #58 closed

[2022-07-07 08:54] haoqing0110 opened #59 "How user can extend placement scheduling."
Subtask of https://github.com/open-cluster-management-io/OCM/issues/33

[2022-07-07 08:54] haoqing0110 opened #60 "How to use placement and other opensource tools to do workload or storage disaster recovery."
Subtask of https://github.com/open-cluster-management-io/OCM/issues/33

[2022-07-07 08:55] haoqing0110 opened #61 "How to do cluster maintainence and its implementation on placement"
Subtask of #33

[2022-07-07 08:56] haoqing0110 commented on #59
/assign @haoqing0110

[2022-07-07 08:56] haoqing0110 commented on #60
/assign @haoqing0110

[2022-07-07 08:56] haoqing0110 commented on #61
/assign @haoqing0110

[2022-07-11 22:42] berenss commented on #33
does the word `schedule` mean that I can use **date**/**time** as part of placement?

[2022-07-12 03:40] haoqing0110 commented on #33
@berenss placement does not support "date/time" so far. Any use case for this feature?

[2022-07-12 03:44] berenss commented on #33
Some examples could be:
 * create cluster.. scheduled during off-peak load times
 * hibernate clusters.. every evening
 * upgrade clusters.. when stable channel has a release and label `prod` on Saturdays
 * unused cluster claims should expire automatically at the end of week
 * app deploys.. only deploy to `prod` on weekend
 * policy inform all the time, policy enforce only during evening and wee

[2022-07-12 09:12] qiujian16 commented on #33
this may not be in the scope of the placement API, but a another API object that manipulate placement or cluster (taints) based on time schedule.

[2022-07-21 03:41] zhujian7 commented on #53
I think we can add an annotation filter functionality to the addon-framework to filter managedclusters when using install strategy. If a managed cluster has annotation `addon.open-cluster-management.io/disable-automatic-installation: "true"`, the install strategy will ignore it when deploying addons.

[2022-07-26 13:44] xuezhaojun opened #64 "Addon namespace created without any addon installed."
After deploy `klusterlet`, we found `open-cluster-management-agent-addon` is created but yet we had not installed any addons.

We think the related code is: https://github.com/stolostron/registration-operator/blob/99db7a66e63e1c96b585b4aa22ad923e198c1028/pkg/operators/klusterlet/controllers/klusterletcontroller/klusterlet_controller.go#L339

So if it possible only create this ns if addons exists?

[2022-07-26 13:45] xuezhaojun commented on #64
cc @elgnay

[2022-07-28 14:17] qiujian16 opened #65 "addon customized configuration"
proposal is here https://github.com/open-cluster-management-io/enhancements/pull/58

story:

- use should be able to use a addon configuration API to setup addon agent
    - nodeSelector/tolerations
    - images
    - environment variables.

/assign @skeeey

[2022-07-28 14:18] qiujian16 commented on #65
/kind enhancement

[2022-08-04 07:46] haoqing0110 opened #66 "Add new placement condition type and reason for configuration error and schedule failure"
The requirement comes from https://github.com/open-cluster-management-io/placement/pull/51#issuecomment-1007226019 when implementing placement extensible scheduling.

In placement status, need to add new placement condition type and reason for configuration error and schedule failure.

- [x] Add condition type PlacementConditionMisconfigured in API https://github.com/open-cluster-management-io/api

[2022-08-09 07:37] haoqing0110 commented on #66
/assign @haoqing0110

[2022-08-11 06:18] ldpliu opened #67 "Multiple Release EPIC: Upgrade clusterset API to v1beta2, use the "exclusiveClusterSetLabel" as default for clusterSetType, and deprecate the "legacyclusterset""
By introducing a new version of clusterset api (v1beta2), we can change the migration path as below.

Release 0.9.0

- [x] Add exclusiveClustersetLabel selector type in clusterset api v1beta1
- [x] [Add clusterset api v1beta2 to remove the support of legacyClustersetLabel selector type](https://github.com/open-cluster-management-io/api/pull/174)
- [x] Add conversion webhook to transform clusterset

[2022-08-11 06:22] ldpliu commented on #67
/assign @ldpliu

[2022-08-24 03:10] haoqing0110 commented on #59
close as PR merged

[2022-08-24 03:10] #59 closed

[2022-08-24 03:12] haoqing0110 commented on #33
Task progress:

- [x] How user can extend placement scheduling. https://open-cluster-management.io/scenarios/extend-multicluster-scheduling-capabilities/
- [x] How user can use placement to schedule their workload. https://open-cluster-management.io/scenarios/distribute-workload-with-placement/
- [ ] How to use placement and other opensource tools to do workload or storage disaster recovery.
- [ ]

[2022-08-24 03:17] haoqing0110 opened #68 "provide a normalize library to generate scores for AddOnPlacementScore"
In https://open-cluster-management.io/scenarios/extend-multicluster-scheduling-capabilities/ ,we talked about how to calculate and normalize the score for AddOnPlacementScore, it's better to provide a normalize library to do it.

Ref: https://github.com/open-cluster-management-io/open-cluster-management-io.github.io/pull/280#discussion_r945398814

[2022-08-24 03:23] haoqing0110 opened #69 "put extensible scheduling example repo into addon-contrib"
https://github.com/JiahaoWei-RH/resource-usage-collect provides an implementation example for extensible placement scheduling. Consider move it to placement.

[2022-08-26 03:44] elgnay commented on #67
Release N

[ ] Add exclusiveClustersetLabel selector type in clusterset api v1beta1
[ ] Add clusterset api v1beta2 to remove the support of legacyClustersetLabel selector type
[ ] Add conversion webhook to transform clusterset CRs between v1beta1 and v1beta2
[ ] Change internal consumers(ui/foundation/submarinar-addon/placement) to use clusterset api v1beta2
[ ] Other clusterset consumers (externa

[2022-08-29 06:20] #11 closed

[2022-08-29 20:28] mikeshng opened #70 "ArgoCD Integration - Pull Model"
The current OCM and ArgoCD integration is primary push model, which means the ArgoCD controller on the hub cluster needs to directly communicate with the target managed clusters. This approach does not use OCM's hub and spoke cluster post registration secured communication channel.

We are proposing implementing an ArgoCD integration pull model that leverages the OCM registration, placement and ma

[2022-08-31 15:04] qiujian16 commented on #32
I think we can close this.

/close

[2022-08-31 15:05] #32 closed

[2022-09-01 01:10] ldpliu opened #72 "Enhance clusterset delete policy"
We need to enhance the clusterset deletion policy.
Like:
When clusterset deleted:
1. Delete the related resources in clusterset
2. remove the clusterset label on managedcluster
3. Block the clusterset deletion if there are some resources in this set.
...

[2022-09-06 02:21] qiujian16 commented on #67
/kind feature

[2022-09-06 02:47] ldpliu opened #74 "Upgrade clusterset api to v1beta2 in registration"

[2022-09-06 02:48] ldpliu opened #75 "Upgrade clusterset api to v1beta2 in placement"

[2022-09-06 02:49] ldpliu opened #76 "Upgrade clusterset api to v1beta2 in registration-operator"

[2022-09-06 02:50] ldpliu opened #77 "Update document for clusterset api v1beta2"

[2022-09-07 03:14] qiujian16 commented on #43
leaving items to resolve:

- [ ] refine the video demo and upload to youtube. @ycyaoxdu
- [ ] resolve unexpected informer error. @ycyaoxdu
- [ ] consider create a repo in ocm or using ocm/ocm to host the control plane code @qiujian16
- [ ] identify gap in the current code @ycyaoxdu

[2022-09-09 02:46] ycyaoxdu commented on #43
video uploaded. https://www.youtube.com/watch?v=fTaU9dncgHY @qiujian16

[2022-09-13 08:44] ycyaoxdu commented on #43
the unexpected informer error bug fixed @qiujian16

[2022-09-15 06:07] haoqing0110 commented on #66
PR https://github.com/open-cluster-management-io/placement/pull/72

[2022-09-15 07:17] ycyaoxdu commented on #43
use external etcd allowed @qiujian16

[2022-09-19 09:51] ycyaoxdu commented on #43
add `TODO(ycyaoxdu)` comment to label refinable codes  https://github.com/ycyaoxdu/ocm-control-plane/commit/e5bc0ca4d468c06f94e8c8a58313cc6d885990a9

[2022-09-22 09:07] elgnay commented on #35
Done. Added the following two doc:
- A scenario: https://open-cluster-management.io/scenarios/integration-with-argocd/
- A solution: https://github.com/open-cluster-management-io/OCM/tree/main/solutions/deploy-argocd-apps

[2022-09-22 10:07] qiujian16 commented on #35
/close

[2022-09-22 10:07] #35 closed

[2022-10-14 07:05] ldpliu opened #80 "Use controller-runitme to implemente registration and work webhook"

[2022-10-14 07:24] ldpliu opened #81 "Use controller-runtime to implemente registration and work webhook"
Currently, we use aggregate apiserver to implement the registration and work webhook. And there are many unpredictable error when user use the webhooks. Something like: "xxx apiservice not available".
So we need to use a new way to implement the webhooks.
Controller runtime provide a better interface, we could use the controller runtime webhook to implement the registration and work webhook.

[2022-10-14 07:25] #80 closed

[2022-10-14 07:25] ldpliu commented on #81
/assign @ldpliu

[2022-10-18 12:59] tal-hason opened #82 "Request: Separate Non-Complaint status to 2 different Types"
when a policy is created to Enforce remediation and a Non-Compliant change has been created an event is triggered and until the event is acknowledged or deleted the cluster state is Non-Compliant. but the cluster is compliant.

so to get a clearer view of the status of the Non-Compliant cluster it should be separated into 2 types.

1. Cluster Compliant State.
2. Cluster Policy events.

[2022-10-18 13:07] mikeshng commented on #82
CC @mprahl @dhaiducek @JustinKuli

[2022-10-20 13:43] Tal-Hason commented on #82
hi @JustinKuli , thanks for the response.

currently, there is only one state Complaint or Non-Complaint, let's take your example from a different POV.

Let's say I have a policy that enforces a Deployment that can't have a specific image but that deployment was rolled out with an image that met the policy and then somebody tried to change to the restricted image.

the ACM enforce this change and

[2022-10-20 15:29] JustinKuli commented on #82
@Tal-Hason I think that does clear it up, thank you!

So I think this changes slightly depending on how it's enforced... in my example with a `mustnothave` ConfigurationPolicy, I think the replicated policy (on the hub cluster, but in the cluster's namespace) will have a history indicating that the policy became non-compliant, and then compliant, like I described above. But if you used Gatekeeper

[2022-10-20 15:52] JustinKuli commented on #82
I feel like having the policy status correspond directly to the cluster status is nice. But it means that actions taken to maintain that status are too easily lost - an admin shouldn't have to look at every history on every policy to see when the configuration policy "enforced" something.

If we separate those events, I guess we'll need a mechanism for specifying each kind of event when they come

[2022-10-20 18:35] Tal-Hason commented on #82
Not really, like you have the compliant state ✅ and ❌ for the cluster state.
you can add another one for events.
like Policy trigger events with a ✅ and ❌ that shows there was policy remediation.

so when the admin looks at the cluster Governance Dashboard, he will see 2 signals.
1. for the current state of the cluster, if enforced or not (compliant or non-compliant)
2. events that triggered the p

[2022-10-25 18:45] mikeshng commented on #70
After discussing with the ArgoCD community. We will not introduce a new CRD.
Instead we will:
- Enhance and leverage our existing GitOpsCluster to help with importing OCM managed clusters to ArgoCD cluster inventory.
- Create a new controller that wraps Applications with ManifestWork so that the Application will be propagated to the managed cluster.

[2022-11-02 17:50] gparvin opened #85 "Does the community have a standard way of calculating code coverage?"
We would like to know if this community has a standard way of checking code coverage.  We are using a script now at least in this repository: https://github.com/open-cluster-management-io/governance-policy-propagator/blob/main/build/common/scripts/coverage_calc.sh

Are there other code quality checks that are recommended for OCM too?

[2022-11-12 15:40] mikeshng commented on #6
We might need to revisit this support in the later version of `k3d`. Overall, it still works fine but there are some issues.
A IP address can be given now during the `k3d cluster create` command by passing a param so that makes it a bit easier during the join process.

The main issue seems to be the `k3d` now hide away the kube-public cluster-info configmap. The `clusteradm init` command is now ca

[2022-11-15 14:37] clyang82 opened #99 "Run multiple OCM instances in a single Kubernetes cluster"
Propose to have a `standalone-controlplane` repo to serve for:
1. run multiple OCM instances in the different namespaces in a single Kubernetes cluster. Each instance is running in a pod in one namespace.
2. Each OCM instance exposes the endpoint so that the cluster can be able to register into as a managed cluster.
3. The lightweight controlplane instance can be started in a very short time. It i

[2022-11-15 15:02] mikeshng commented on #99
This is great! +1

Just a suggestion, I feel like the name `multicluster-controlplane` might be better for marketing than `standalone`.
In my personal experience, standalone sounds like something that is for development purpose and fits into your point 3. light weight but I wouldn't think that using it will have the benefits of: "the single cluster with multiple OCM instances can support more mana

[2022-11-15 15:08] qiujian16 commented on #99
the code and demo script is here https://github.com/open-cluster-management-io/OCM/tree/standalone-controlplane. I think we should also do a demo in the community @clyang82

[2022-11-16 06:26] clyang82 commented on #99
Thanks @mikeshng I like `multicluster-controlplane` name.
Thanks @qiujian16 Please help me add a topic in this Friday's community meeting.

[2022-11-16 08:49] qiujian16 commented on #99
queued for next community meeting.

[2022-11-16 14:18] mikeshng commented on #99
@clyang82 the community meeting is going to be on the Nov 25th and not this Friday. Just a FYI. Thanks.

[2022-11-24 02:19] haoqing0110 opened #113 "Addon install strategy"
This is the issue to support install strategy on API level for addons.

Proposal is in https://github.com/open-cluster-management-io/enhancements/pull/77

[2022-11-24 02:21] haoqing0110 opened #114 "Addon lifecycle enhancements"
This is the issue to support addon rolling upgrade on API level.

Proposal is in https://github.com/open-cluster-management-io/enhancements/pull/82

[2022-11-24 02:25] haoqing0110 opened #115 "Addon install template"
This is the issue to support installing addon from template.

[2022-11-24 02:27] haoqing0110 commented on #114
/kind feature

[2022-11-24 02:28] haoqing0110 commented on #113
/kind feature

[2022-11-24 02:28] haoqing0110 commented on #115
/kind feature

[2022-11-24 02:29] haoqing0110 commented on #114
/assign @haoqing0110

[2022-11-24 02:29] haoqing0110 commented on #113
/assign @qiujian16

[2022-11-24 02:29] haoqing0110 commented on #115
/assign @qiujian16

[2022-11-24 02:29] haoqing0110 commented on #114
/cc @qiujian16

[2022-11-24 09:17] #21 closed

[2022-11-25 09:31] haoqing0110 commented on #69
/assign @haoqing0110

[2022-11-28 04:42] benson211 opened #116 "The similarities and differences between OCM and Rancher Fleet?"
As shown in the title，what are the similarities and differences between OCM and Rancher Fleet?
Is it a good choice to replace Rancher with OCM?

[2022-11-28 14:33] mikeshng commented on #116
Hi, the main similarity is both architecture is based on pull model. The main differences is OCM is much more modular.
- OCM is focusing on developing and enhancing each individual API. You can see how much more powerful OCM APIs are compare to the Rancher fleet. For example, take a look at Placement and ManagedClusterSet in https://open-cluster-management.io/concepts/
- Other projects can pick an

[2022-11-29 02:38] benson211 commented on #116
Thanks, is there any plan to provide the UI for multicluster management in this project?

[2022-11-29 03:14] mikeshng commented on #116
There is a community project for VScode extension which provides some UI capabilities. See https://open-cluster-management.io/developer-guides/vscode-extension/ for more details.

As of now we have no other UI plans, we will have to rely on the community to provide some more UI contributions.

[2022-11-29 06:26] #56 closed